.img-fluid{
    max-width: 100%;
    height: auto;

}

.container-fluid img{

    width: 65px;
    height: 65px;
    left:10px;
    margin-left: 5px;
    border-radius: 100%;
}

.container-fluid a{
    color: burlywood;
  }


#ABT {
    font-family: cursive;

}

.anchor{
    text-decoration: none;
    
}

.menu1{
    text-align: center;
    background-color: rgb(65, 15, 15);
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;  
    
    /* background-color: rgb(29, 26, 26); */
}

/* .menu{

    background-image: url("static/assets/images/4.jpg");
} */



