.anchor{
    text-decoration: none;
}
.col-md-1 img{

    width: 60px;
    height: 60px;
    left:10px;
    margin-left: 40%;

}

.container-fluid a{
  color: burlywood;
}

#ID1{
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  color: brown;
  background-color: burlywood;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  font-style: oblique;
  padding-top: 5px;
  font-weight: bold;
}

#ID2{
font-family: cursive;
font-size: large;

}

#ID3{
  text-align: center;
  color: rgb(228, 199, 182);
  text-decoration: solid;
  background-color: rgb(65, 18, 3);
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: larger;
}

.contact{

  background-color: rgb(241, 229, 213);
  padding: 30px;
  

}
/* .container-fluid img{

  width: 60px;
  height: 60px;
  left:10px;
  margin-left: 20px;
  background-color: rgba(41, 39, 39, 0.537);

} */
