{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<!--================= cart content =======================-->
<style>
    .detail{
        text-align:start;
        padding-left: 10%;
    }
    img{
        border-radius: 20%;
        border: 2px solid;
        float: right;
        transition: transform 0.5s ease;
    }
    img:hover{
        transform: rotateY(30deg);
    }

    .button:hover{
        transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);s
    }
</style>
        <div class="row mt-3">
            <h5 class="bg-black text-white py-3">Coffee Details :</h5>
            {% for x in coffee %}
            <div class="col-md-4 mt-3">
                <img src="{{x.cid.cimage.url}}" width="300px" height="300px" alt="image"/>

            </div>
            <div class="col-md-8 mt-3 detail">
                
                <p><strong>Coffee Name:</strong>&nbsp;&nbsp;&nbsp;{{x.cid.name}}</p>
                <p><strong>Price:</strong>&nbsp;&nbsp;&nbsp;{{x.cid.price}}</p>
                {% if x.cid.cat == 1 %}
                <p><strong>category :</strong>&nbsp;&nbsp;&nbsp;Cold Coffee</p>
                {% elif x.cid.cat == 2 %}
                <p><strong>category :</strong>&nbsp;&nbsp;&nbsp;Hot Coffee</p>
                {% elif x.cid.cat == 3 %}
                <p><strong>category :</strong>&nbsp;&nbsp;&nbsp;Black Coffee</p>
                {% else %}
                <p><strong>category :</strong>&nbsp;&nbsp;&nbsp;Coffee House Special</p>
                {% endif %}
                
                {% comment %} <p><strong>category:</strong>&nbsp;&nbsp;&nbsp;{{x.cid.cat}}</p> {% endcomment %}
                <p><strong>Coffee description:</strong>&nbsp;&nbsp;&nbsp;{{x.cid.cdetails}}</p>
                <p>
                    <strong>QTY:</strong>
                    <a href="/updateqty/0/{{x.id}}"><button class="badge rounded-pill text-bg-warning">-</button></a>
                    <input type="number" value="{{x.qty}}">
                    <a href="/updateqty/1/{{x.id}}"><button class="badge rounded-pill text-bg-dark">+</button></a>
                </p>
                <p class="ms-5"><a href="/remove/{{x.id}}"><button class="badge text-bg-secondary ms-5 mb-3">Remove</button></a></p>
            </div><br><br>
            
            <hr>
            {% endfor %}
        </div>
    <!--customer and coffee details-->
    <div class="row">
    <div class="col-md-9">

        <h5 class="bg-black text-white p-3">Customer detail :</h5>
        {% for x in coffee %}
        {% if forloop.counter == 1 %}
        <p><strong>Name: </strong>&nbsp;&nbsp;{{x.uid.username}}</p>
        <!--<p><strong>Mobile: </strong>&nbsp;&nbsp;9137910120</p>-->
        <p><strong>Email: </strong>&nbsp;&nbsp;{{x.uid.email}}</p>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-3">

        <h5 class="bg-black text-white p-3">Total Amount</h5>
        <p><strong>Total({{n}} coffee's): </strong>Rs.{{total}}</p>
        <hr>
        <p><strong>Total Amount: </strong>Rs.{{total}}</p>
        <a href="/placeorder" class="ms-5 p-3"><button class="badge text-bg-warning p-2 button">Buy Now</button></a>
    </div>
    <!--Total amount section-->
</div>

    
<!--cart content end-->

{% endblock 'main' %}