{% load static %}

<!----------------footer starts------------>

<style>
  
  .contact{
    color: rgb(238, 203, 157);
  
  }
  .anchor{
    color: rgb(238, 203, 157);
  }
  h4{
    font-size: 18px;
    display: inline-block;
    background-color: #28251f;
    color: rgb(226, 175, 99);
    padding: 8px 0;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
  }
</style>


<div class="contact">
  {% comment %} <div class="row mt-3 p-3 bg-warning bg-opacity-10"> {% endcomment %}
    <div class="row mt-3 p-3 bg-black">
      <div class="col-md-4">
          <h3>Address</h3>
          <hr>
          <div class="add">
          Coffee House Corporate Office<br>
          near Vadala Lake,<br>
          PANVEL,410206 <br><br>
          <p><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;9137910120</p>
          <p><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;coffeehouse@gmail.com</p>
          </div>
      </div>

      <div class="col-md-4">
        <h3>Quick links</h3>
        <hr>
        <p><a href="/home" class="anchor">Home</a></p>
        <p><a href="/about" class="anchor">About</a></p>
        <p><a href="/menu" class="anchor">Menu</a></p>
        <p><a href="/contact" class="anchor">Contact</a></p>
    </div>

    <div class="col-md-4">
        <h3>Contact</h3>
        <hr>
        <h4><a href="http://www.facebook.com"><i class="bi bi-facebook text-white"></i></a></h4>
        <h4><a href="http://www.twitter.com"><i class="bi bi-twitter text-white"></i></a></h4>
        <h4><a href="http://www.instagram.com"><i class="bi bi-instagram text-white"></i></a></h4>
        <h4><a href="http://www.youtube.com"><i class="bi bi-youtube text-white"></i></a></h4>
    </div>  
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/proper.min.js' %}"></script>

</body>

</html>
  
