{% extends 'base.html' %}

{% load static %}

{% block 'main' %}
<style>
    .gallery{
        background-image: url("static/assets/images/bggallery.jpg");
        background-size: cover;
    }
    .gallery img{
        border-radius: 10%;
        border-style: double;
        border-color: bisque;
    }
</style>
<div class="gallery mt-3">
    <marquee scrollamount="4" direction="down"><h2 class="text-white text-center">Here Some Photo's of Our Gallery</h2></marquee>
    <marquee scrollamount="20" direction="left" class="mt-3">
        <img src="{% static 'assets/images/g3.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
        <img src="{% static 'assets/images/g9.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
        <img src="{% static 'assets/images/g4.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
    </marquee>
    <marquee scrollamount="20" direction="right" class="mt-3 mb-3">
        <img src="{% static 'assets/images/bg6.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
        <img src="{% static 'assets/images/kitchen.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
        <img src="{% static 'assets/images/g5.jpg' %}" width="400px" height="400px" alt="image"/>&nbsp;&nbsp;&nbsp;
    </marquee>
</div>   

{% endblock 'main' %}