{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!-- ==================== main content ======================-->

<style>
   .anchor{
        padding-left: 10px;
        margin-left: 10px;
      }
    b{
      color: white;
      background-color: black;
      border-radius: 10px;
    }
    .anchor img{
        border-radius: 100%;
    }
    .menu{
        background-image: url("static/assets/images/4.jpg");
        background-attachment: fixed;
        background-position: center;
        padding: 20px;
    } 
    
    .heading{
      text-align: center;
      background-color: burlywood;
      padding: 10px;
      font-weight: bold;
      text-decoration: underline;
      color: black;

    }
    .card{
      padding: 5px;
    } 

    .card:hover{
      transform: scale(1.1);
    } 

    button{
      margin-left: 40%;
    }
  
   
</style>

<div class="menu">
    <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="heading">OUR COFFEE'S</h5>
            <hr>
            <a href="/catfilter/1" class="anchor"><img src="{% static 'assets/images/cold1.jpg' %}" width="140px" height="140px"/><b class="p-2">COLD COFFEE</b></a>&nbsp;
            <a href="/catfilter/2" class="anchor"><img src="{% static 'assets/images/hot3.jpg' %}" width="140px" height="140px"/>&nbsp;<b class="p-2">HOT COFFEE</b></a>&nbsp;
           <a href="/catfilter/3" class="anchor"><img src="{% static 'assets/images/black.jpg' %}" width="140px" height="140px"/>&nbsp;&nbsp;<b class="p-2">BLACK COFFEE</b></a>&nbsp;
          <a href="/catfilter/4" class="anchor"><img src="{% static 'assets/images/coffeehouse.jpg' %}" width="140px" height="140px"/>&nbsp;<b class="p-2">COFFEE HOUSE SPECIAL</b></a>&nbsp;
      
        </div>
      </div> <!-- 1 st row end-->
      <div class="row mt-5">
        <div class="col-md-6">
          <h5 class="heading">Filter by price</h5>
          <hr>
          <form action="/range">
              <div class="mb-3">
                  <label for="Input1" class="form-label text-white bg-black p-2 ms-2">Min value</label>
                  <input type="number" name="min" class="form-control" id="Input1" aria-describedby="emailHelp">
              </div> <!--end of min value-->
      
              <div class="mb-3">
                  <label for="Input2" class="form-label text-white bg-black p-2 ms-2">Max value</label>
                  <input type="number" name="max" class="form-control" id="Input2">
              </div><!--end of max value-->
      
              <div class="mb-3">
                  <button type="submit" class="btn btn-outline-warning">Submit</button>
              </div> <!--end of submit button-->
          </form>
        </div>
      
        <div class="col-md-6">
          <h5 class="heading">sort by price</h5>
            <hr>
            <p><a href="/sort/0" class="anchor text-white fs-5 text-center ms-5 p-2 bg-black">Low to High</a></p><br>
            <p><a href="/sort/1" class="anchor text-white fs-5 text-center ms-5 p-2 bg-black">High to Low</a></p>
        </div>
      </div> <!-- 2nd row end -->
       
      <div class="row mt-3">
        <div class="col-md-12">
        <div class="row">
         <h5 class="menu1">{{ cat }}</h5>
    
          {% for x in coffee %}
          
          
            <div class="col-md-4 mt-4 p-3">
              <div class="card" style="width: 100%">
                  <img src="{{x.cimage.url}}" id="img" width="100%" height="300px" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{x.name}}</h5>
                      <p class="card-text">Rs.{{x.price}}</p>
    
                      {% if x.cat == 1 %}
                      <p class="card-text">COLD COFFEE</p>
                      {% elif x.cat == 2 %}
                      <p class="card-text">HOT COFFEE</p>
                      {% elif x.cat == 3 %}
                      <p class="card-text">BLACK COFFEE</p>
                      {% else %}
                      <p class="card-text">COFFEE HOUSE SPECIAL</p>
                      {% endif %}
    
                      <a href="/cdetails/{{x.id}}" class="btn btn-dark">see details</a>
                  </div>
              </div>
          </div> <!--product 1 end-->
          
          {% endfor %}
    
        </div>  <!--end 4th row-->
        
        </div> <!--end col-md-12-->
        </div><!--end main row--> 

</div> <!--end menu-->


<!--=================== end main content ===================== -->

{% endblock 'main' %}